.capa_input{

}

.continuar_input{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -229px 0px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:43px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.continuar_input:disabled{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -229px -18px;
    background-color:transparent;
	border: none;	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:43px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:00px;
}



.guardar_aplicar{
	background-image: url(/img/iconos_nav/ventana/aplicar1.png);
	background-position: top;
    background-repeat:  no-repeat ;
	border: none;
	background-color:transparent;
	cursor: pointer;
	height: 32px;
    width: 32px;
    position:relative;
    top:-10px;
}





.guardar_input2{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -209px 0px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    z-index:1000;
    position:fixed;
    right:61px;
    margin-left:10px;
    margin-right:0px;
}

.guardar_input2:disabled{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -209px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    z-index:1000;
    position:fixed;
    right:61px;
    margin-left:10px;
    margin-right:0px;
}


.modificar_input{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -188px 0px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 20px;
    top:62px;
    display: inline;
    float:left;
    right:82px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.modificar_input:disabled{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -188px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 20px;
    top:62px;
    display: inline;
    float:left;
    right:82px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.eliminar_input{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -173px 0px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 16px;
    top:62px;
    display: inline;
    float:left;
    right:104px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;

}

.eliminar_input:disabled{
	bbackground:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -173px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 16px;
    top:62px;
    display: inline;
    float:left;
    right:104px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.cancelar_anular_input{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -300px 0px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    right: 102px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;

}

.cancelar_anular_input:disabled{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -300px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    right: 104px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.consultar_input{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -155px 0px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:120px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}


.consultar_input:disabled{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -155px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:120px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.buscar_input{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -137px 0px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 17px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:140px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;

}

.buscar_input:disabled{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -137px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 17px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:140px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.primero_input{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -58px 0px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:222px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.primero_input:disabled, .primero_input_disabled{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -58px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
     top:62px;
    display: inline;
    float:left;
    right:222px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;

}

.anterior_input{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -78px 0px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:202px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.anterior_input:disabled, .anterior_input_disabled{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -78px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:202px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;

}

.siguiente_input{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -97px 0px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:182px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.siguiente_input:disabled, .siguiente_input_disabled{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -97px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:182px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.ultimo_input{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -117px 0px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:162px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.ultimo_input:disabled, .ultimo_input_disabled{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -117px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:162px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.generar_input{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -38px -1px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 16px;
    width: 17px;
    top:62px;
    display: inline;
    float:left;
    right:242px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.generar_input:disabled{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -38px -19px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 16px;
    width: 17px;
    top:62px;
    display: inline;
    float:left;
    right:242px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}
.generar_input_txt{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -282px 0px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:242px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}
.regresar_input{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -18px 0px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:262px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.regresar_input:disabled{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -18px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:262px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;

}


.mas_input{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -18px 0px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:262px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.mas_input:disabled{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -18px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:262px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;

}

.salir_input{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: 0px 0px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
	right:282px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.salir_input:disabled{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: 0px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
	right:282px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;

}




.emitir_pdf_input{
	background-image: url(../img/text-editor.png);
	background-repeat:  no-repeat ;
	background-position: top;
	border: none;
	background-color:transparent;
	cursor: pointer;
	height: 32px;
    width: 32px;
    bottom:2px;
    left: auto;
    display: inline;
    float:left;
    z-index:1000;
    position:fixed;
    margin-left:-50px;
    margin-right:30px;

}

.emitir_pdf_input:disabled{
	background-image: url(../img/text-editor.png);

}

.ultimo_button_ventana{
	background-image: url(../img/gtk-apply.png);
	background-repeat:  no-repeat ;
	background-position: top;
	border: none;
	background-color:transparent;
	cursor: pointer;
	vertical-align: top;
	height: 32px;
    width: 32px;
    padding-top:0px;
    margin-top:0px;
    margin-left:5px;
}
.primero_button_ventana{
	background-image: url(../img/gtk-ok.png);
	background-repeat:  no-repeat ;
	background-position: top;
	border: none;
	background-color:transparent;
	cursor: pointer;
	vertical-align: top;
	height: 32px;
    width: 32px;
    padding-top:0px;
    margin-top:0px;
    margin-left:5px;
}

.siguiente_button_ventana{
	background-image: url(../img/gtk-go-forward-ltr.png);
	background-repeat:  no-repeat ;
	background-position: top;
	border: none;
	background-color:transparent;
	cursor: pointer;
	vertical-align: top;
	height: 32px;
    width: 32px;
    padding-top:0px;
    margin-top:0px;
    margin-left:5px;
}
.anterior_button_ventana{
	background-image: url(../img/gtk-go-forward-rtl.png);
	background-repeat:  no-repeat ;
	background-position: top;
	border: none;
	background-color:transparent;
	cursor: pointer;
	vertical-align: top;
	height: 32px;
    width: 32px;
    padding-top:0px;
    margin-top:0px;
    margin-left:5px;
}

.buscar_input2{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -136px 1px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 17px;
    width: 18px;
    bottom:2px;


}
.buscar_input2:disabled{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -136px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 17px;
    width: 18px;
    bottom:2px;


}

.ods_input{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -263px 0px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 16px;
    width: 17px;
    bottom:2px;
    display: inline;
    float:left;
    left:85px;
    z-index:1000;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}


.subir_imagen{
	background-image: url(../img/subir_imagen.png);
	background-repeat:  no-repeat ;
	background-position: top;
	border: none;
	background-color:transparent;
	cursor: pointer;
	height: 36px;
    width: 48px;
    bottom:2px;


}



.ver_input{
	background-image: url(../img/eye.png);
	background-repeat:  no-repeat ;
	border: none;
	background-color:transparent;
	cursor: pointer;
}



.add_input{
	background-image: url(../img/edit_add_2.png);
	background-repeat:  no-repeat ;
	border: none;
	background-color:transparent;
	cursor: pointer;
}




.mini_lupa{
	background-image: url(../img/gnome-searchtool.png);
	background-repeat:  no-repeat ;
	border: none;
	background-color:transparent;
	cursor: pointer;
}

.open_window_input{
	background-image: url(/img/iconos_nav/open_window.png);
	background-repeat:  no-repeat ;
	border: none;
	background-color:transparent;
	cursor: pointer;
	width: 24px;
	height: 24px;
}

.estatus_usuarios{
	background-image: url(../img/unlock.png);
	background-repeat:  no-repeat ;
	border: none;
	background-color:transparent;
	cursor: pointer;
	height: 32px;
    width: 32px;
}


.pdf_ventana{
	background-image: url(../img/pdf.png);
	background-repeat:  no-repeat ;
	border: none;
	background-color:transparent;
	cursor: pointer;
}




.tick_input{
	background-image: url(../img/tick.png);
	background-repeat:  no-repeat ;
	border: none;
	background-color:transparent;
	cursor: pointer;

}




#ListaGastos{
    height:300px;
    overflow:auto;
    border:0;
    margin-left:2px;
    margin-right:2px;
    color:#000;
}

.guardar_input{
	background-image: url(../img/filesave.png);
	background-repeat:  no-repeat ;
	border: none;
	background-color:transparent;
	cursor: pointer;

}

.calcular_input{
	background-image: url(../img/edit.png);
	background-repeat:  no-repeat ;
	border: none;
	background-color:transparent;
	cursor: pointer;

}
.boton_buscar{
	background-image: url(../img/botones/2/buscar.png);
	background-repeat:  no-repeat ;
	border: none;
	background-color:transparent;
	cursor: pointer;
        height: 28px;
        width: 120px;

}
.boton_buscar:hover{
	background-image: url(../img/botones/buscar.png);
	background-repeat:  no-repeat ;
	border: none;
	background-color:transparent;
	cursor: pointer;
        height: 28px;
        width: 120px;

}
.boton_salir{
	background-image: url(../img/botones/2/salir.png);
	background-repeat:  no-repeat ;
	border: none;
	background-color:transparent;
	cursor: pointer;
        height: 28px;
        width: 120px;

}
.boton_salir:hover{
	background-image: url(../img/botones/salir.png);
	background-repeat:  no-repeat ;
	border: none;
	background-color:transparent;
	cursor: pointer;
        height: 28px;
        width: 120px;

}

.boton_eliminar{
	background-image: url(../img/botones/2/eliminar.png);
	background-repeat:  no-repeat ;
	border: none;
	background-color:transparent;
	cursor: pointer;
        height: 28px;
        width: 120px;

}
.boton_eliminar:hover{
	background-image: url(../img/botones/eliminar.png);
	background-repeat:  no-repeat ;
	border: none;
	background-color:transparent;
	cursor: pointer;
        height: 28px;
        width: 120px;

}
.guardar_fila{
	background-image: url(../img/guardar_fila.png);
	background-repeat:  no-repeat ;
	border: none;
	background-color:transparent;
	cursor: pointer;
        height: 24px;
        width: 24px;

}
.cancela_fila{
	background-image: url(../img/cancela_fila.png);
	background-repeat:  no-repeat ;
	border: none;
	background-color:transparent;
	cursor: pointer;
        height: 24px;
        width: 24px;

}

/*********************************************/
/**disables administrados layouts*/


.continuar_input_admin{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -229px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 16px;
	top:62px;
    display: inline;
    float:left;
    right:43px;
    z-index:2;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}
.guardar_input2_admin{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -209px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    z-index:2;
    position:fixed;
    right:61px;
    margin-left:10px;
    margin-right:0px;
}

.modificar_input_admin{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -188px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 20px;
    top:62px;
    display: inline;
    float:left;
    right:82px;
    z-index:2;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.eliminar_input_admin{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -173px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 14px;
    top:62px;
    display: inline;
    float:left;
    right:104px;
    z-index:2;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.cancelar_anular_input_admin{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -300px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    bottom:2px;
    left: 335px;
    z-index:2;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.consultar_input_admin{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -155px -19px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 17px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:120px;
    z-index:2;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.buscar_input_admin{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -136px -19px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 17px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:140px;
    z-index:2;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}


.primero_input_admin{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -58px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:222px;
    z-index:2;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.anterior_input_admin{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -78px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:202px;
    z-index:2;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}
.siguiente_input_admin{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -97px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:182px;
    z-index:2;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.ultimo_input_admin{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -117px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:162px;
    z-index:2;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}


.generar_input_admin{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -38px -19px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 16px;
    width: 17px;
    top:62px;
    display: inline;
    float:left;
    right:242px;
    z-index:2;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.regresar_input_admin{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -19px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
    right:262px;
    z-index:2;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.salir_input_admin{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: 0px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 18px;
    top:62px;
    display: inline;
    float:left;
	right:282px;
    z-index:2;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}


.ayuda_input{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -246px 0px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 16px;
    top:62px;
    display: inline;
    float:left;
    right:25px;
    z-index:2;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.ayuda_input:disabled{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -246px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 16px;
    top:62px;
    display: inline;
    float:left;
    right:25px;
    z-index:2;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.ayuda_input_admin{
	background:url(/img/sprite/sprite_nevegacion_web.png) no-repeat;
	background-position: -246px -18px;
    background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 16px;
    top:62px;
    display: inline;
    float:left;
    right:25px;
    z-index:2;
    position:fixed;
    margin-left:10px;
    margin-right:0px;
}

.bt_plus{
	background-image: url(/img/grilla/plus3.png);
	background-repeat:  no-repeat ;
	background-position: top;
	border: none;
	background-color:transparent;
	cursor: pointer;
	height: 24px;
    width: 24px;
    display: inline;
    float:left;
}
.bt_plus:disabled{
	-moz-opacity: 0.60;
	opacity: 0.60;
}


.cambiar_clave{
	background-image: url(/img/key_go.png);
	background-repeat:  no-repeat ;
	background-color:transparent;
	border: none;
	cursor: pointer;
	height: 18px;
    width: 16px;
    top:62px;
    display: inline;
    float:left;
    right:6px;
    z-index:2;
    position:fixed;
    margin-left:10px;
    margin-right:0px;


}

















#botones_navegacion_acciones{
    z-index:1;
    position:fixed;
    top:55px;
    right:3px;
    width:305px;
    height:30px;
	border:1px #000 solid;
	/*GRIS*/
	background:#97B7D3;
	background: -webkit-gradient(linear, left top, left bottom, from(#C3C3C3), to(#DCDCDC));
	background-image: -moz-linear-gradient(top, #C3C3C3, #DCDCDC);
	/**/
	/*ROJO
	background:#7E0000;
	background: -webkit-gradient(linear, left top, left bottom, from(#E40000), to(#7E0000));
	background-image: -moz-linear-gradient(top, #E40000, #7E0000);*/

	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	box-shadow: 3px 10px 4pc #000;
	-webkit-box-shadow: 3px 3px 5px #000;
	-moz-box-shadow: 3px 3px 5px #000;
}


#div_menu_navegacion{
    z-index:1;
    position:fixed;
    top:55px;
    left:2px;
    width:95px;
    height:32px;
	border:1px #000 solid;
	background:#97B7D3;
	background: -webkit-gradient(linear, left top, left bottom, from(#C3C3C3), to(#DCDCDC));
	background-image: -moz-linear-gradient(top, #C3C3C3, #DCDCDC);

	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	box-shadow: 3px 10px 4pc #000;
	-webkit-box-shadow: 3px 3px 5px #000;
	-moz-box-shadow: 3px 3px 5px #000;
}
